/* Vendor imports */
@import "vendor/_bootstrap";
@import "vendor/_font-awesome";
@import "vendor/hover";

/* App imports */
@import "app/_variables";
@import "app/_greyscale";

.password-well {
  font-size: 24px;
  font-weight: bold;
  color: #666 !important;
}

.country-selector {
  margin-top: 20px;
}

.img-country {
  width: 48px;
  height: 48px;
  cursor: pointer;
  margin-left:10px;
}

.img-country-active {
  background: #F8A50E;
    -webkit-box-shadow: 0 0 20px #F8A50E;
       -moz-box-shadow: 0 0 20px #F8A50E;
            box-shadow: 0 0 20px #F8A50E;

    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;

    -webkit-transition: box-shadow .6s ease;
       -moz-transition: box-shadow .6s ease;
        -ms-transition: box-shadow .6s ease;
         -o-transition: box-shadow .6s ease;
            transition: box-shadow .6s ease;
}

.diceware-explanation {
  margin-top: 30px;
}

.explanation-paragraph {
  margin-top: 30px;
}
