/* Vendor imports */
@import "vendor/_bootstrap";
@import "vendor/_font-awesome";
@import "vendor/hover";

/* App imports */
@import "app/_variables";
@import "app/_greyscale";

.password-well {
  font-size: 24px;
  font-weight: bold;
  color: #666 !important;
}

.country-selector {
  margin-top: 20px;
}

.img-country {
  width: 48px;
  height: 48px;
  cursor: pointer;
  margin-left:10px;
}

.img-country-active {
  background: #F8A50E;
    -webkit-box-shadow: 0 0 20px #F8A50E;
       -moz-box-shadow: 0 0 20px #F8A50E;
            box-shadow: 0 0 20px #F8A50E;

    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;

    -webkit-transition: box-shadow .6s ease;
       -moz-transition: box-shadow .6s ease;
        -ms-transition: box-shadow .6s ease;
         -o-transition: box-shadow .6s ease;
            transition: box-shadow .6s ease;
}

.diceware-explanation {
  margin-top: 30px;
}

.explanation-paragraph {
  margin-top: 30px;
}


*{box-sizing:border-box}#floatingShare{position:relative}#floatingShare a{position:relative;width:48px;height:48px;line-height:24px;display:list-item;list-style-type:none;padding:5px 0;text-align:center;color:#fff}#floatingShare a:focus,#floatingShare a:hover{color:#fff;width:52px;opacity:.8;transition-duration:.3s;transition-property:right;transition-timing-function:ease-out}#floatingShare a,#floatingShare a:active,#floatingShare a:focus,#floatingShare a:hover,#floatingShare a:visited{outline:0!important}#floatingShare i{line-height:inherit;font-size:24px;text-align:center}#floatingShare .top-left{position:fixed;top:20%;left:0}#floatingShare .top-right{position:fixed;top:20%;right:0}#floatingShare .feysbuk{background-color:#3b5998}#floatingShare .tivitir{background-color:#00aced}#floatingShare .gogil{background-color:#dd4b39}#floatingShare .linktin{background-color:#007bb6}#floatingShare .meyil{background-color:#726C6C}#floatingShare .pinter{background-color:#c92228}#floatingShare .stambul{background-color:#eb4924}#floatingShare .shareCount{position:absolute;bottom:0;right:0;left:0;margin:auto;color:#ddd;font-size:10px}#floatingShare .mtop5{margin-top:5px}@media only screen and (min-device-width:0px) and (max-width:961px){#floatingShare{margin-top:50px}#floatingShare .top-left,#floatingShare .top-right{top:auto;bottom:0;width:100%;z-index:999}#floatingShare a{position:relative;float:left;width:16.6667%;width:calc(100% / 6);display:list-item;list-style-type:none}#floatingShare a:focus,#floatingShare a:hover{width:16.6667%;width:calc(100% / 6);-moz-transition-property:none;-webkit-transition-property:none;-o-transition-property:none;transition-property:none}}
